{% extends 'base.html' %}
{% block content %}
{% load static %}
<body>
    <div class="container">
        <h2>Mostrando clientes</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>{{ cliente_form.name.label }}</th>
                    <th>{{ cliente_form.edad.label }}</th>
                    <th>Modificar clientes</th>
                    <th>Eliminar clientes </th>
                </tr>
            </thead>
            <tbody>
                {% for ve in cliente %}
                <tr>
                    <td>{{ ve.name }}</td>
                    <td>{{ ve.edad }}</td>
                    {% if user.is_authenticated %}
                        <td><a href="{% url 'form_mod_cliente' ve.name %}" 
                            class="btn btn-primary">Modificar</a></td>
                        <td><a href="{% url 'form_del_cliente' ve.name %}" 
                            class="btn btn-danger">Eliminar</a></td>
                    {% else %} 
                    <td><a href="#">No tiene permisos para modificar</a></td>
                    <td><a href="#" style="color:red;">No tiene permisos para eliminar</a></td>
                    {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if user.is_authenticated %}
            <a href="{% url 'form_crear_cliente' %}" class="btn btn-primary">Crear cliente</a>
        {% endif %}    
        <a href="{% url 'index' %}" class="btn btn-success">Pagina Principal</a>

    </div>
</body>
 <br><br>
{% endblock %}