{% extends 'base.html' %}
{% block content %}
{% load static %}
    <img src="{% static 'img/SEMES.jpg' %}" alt="Manguera.cl" class="img-fluid">
    <hr>
    Somos una página web que comenzó con la venta de producto de jardinería como maceteros, tierra de hojas, flores y arbustos, todo esto para ayudar a una fundación sin fines de lucro.
    <br><br>
    Todo esto partió a través de las redes sociales, pero en la actualidad es casi imposible dar abasto a la demanda a través de las redes sociales.
    <br><br>
    Por esto, gracias a la ayuda de alumnos de DuocUC, se pudo comenzar esta página web, donde tú puedes elaborar una lista de compra, con el objetivo de ordenar tus presupuestos, mejorar tus finanzas, facilitar tus compras y su despacho, todo mientras nos ayudas a realizar el aporte a esta fundación sin fines de lucro.
    <br><br>
    Te invitamos a ver este video para inspirarte en la creación y cuidado de tu jardín.
    <br><br>
    <!-- Insertar Video De Youtube-->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/uqi5MVczUsI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><br>
{% endblock %}